/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
/* line 13, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 27, ../sass/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 35, ../sass/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 49, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 62, ../sass/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 72, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 81, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 92, ../sass/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 105, ../sass/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 115, ../sass/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 125, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 135, ../sass/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 144, ../sass/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 154, ../sass/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 165, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 173, ../sass/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 182, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 191, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 199, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 203, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 214, ../sass/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 223, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 232, ../sass/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 240, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 252, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 268, ../sass/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 278, ../sass/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 289, ../sass/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 300, ../sass/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 312, ../sass/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 323, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 336, ../sass/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 350, ../sass/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 368, ../sass/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 378, ../sass/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, ../sass/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 397, ../sass/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 407, ../sass/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 420, ../sass/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 429, ../sass/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 440, ../sass/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 448, ../sass/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 459, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/_base.scss */
h1, h2, h3, p, li {
  font-family: 'Montserrat', sans-serif;
  color: #242a36;
}

/* line 8, ../sass/_base.scss */
h1 {
  font-size: 3em;
  font-weight: bold;
}

/* line 13, ../sass/_base.scss */
h2 {
  font-size: 2.68em;
  font-weight: bold;
}

/* line 18, ../sass/_base.scss */
h3 {
  font-size: 2.5em;
  font-weight: normal;
}

/* line 23, ../sass/_base.scss */
p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 28, ../sass/_base.scss */
a:link {
  text-decoration: none;
  color: white;
}

/* line 33, ../sass/_base.scss */
#input {
  margin-bottom: 0;
  height: 80px;
  padding: 0 40px;
  margin-right: 5px;
  border: none;
  background-color: white;
}

/* line 42, ../sass/_base.scss */
.txt-white {
  color: white;
}

/* The switch - the box around the slider */
/* line 2, ../sass/_checkbox.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/* line 10, ../sass/_checkbox.scss */
.switch input {
  display: none;
}

/* The slider */
/* line 13, ../sass/_checkbox.scss */
#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 25, ../sass/_checkbox.scss */
#slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 37, ../sass/_checkbox.scss */
input:checked + #slider {
  background-color: #5fd2ca;
}

/* line 41, ../sass/_checkbox.scss */
input:focus + #slider {
  box-shadow: 0 0 1px #2196F3;
}

/* line 45, ../sass/_checkbox.scss */
input:checked + #slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* line 52, ../sass/_checkbox.scss */
#slider.round {
  border-radius: 34px;
}

/* line 56, ../sass/_checkbox.scss */
#slider.round:before {
  border-radius: 50%;
}

/**************************/
/*     @Layout Desktop    */
/**************************/
/* line 3, ../sass/_index.scss */
.section1 {
  width: 100%;
  background-image: url("/img/assets/jeunes-reporters-olympique.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
/* line 10, ../sass/_index.scss */
.section1-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 100px 20px;
  max-width: 1366px;
  height: 100vh;
}
/* line 25, ../sass/_index.scss */
.section1-header-txt-title, .section1-header-txt-subtitle {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
}
/* line 32, ../sass/_index.scss */
.section1-header-txt-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 37, ../sass/_index.scss */
.section1-header-txt-btn > a {
  margin: 20px;
  padding: 13px 20px;
  font-size: 1.3em;
  color: white;
  border-radius: 5px;
  background-color: #5fd2ca;
  transition: 0.3s;
}
/* line 46, ../sass/_index.scss */
.section1-header-txt-btn > a:hover {
  background-color: #32b2a9;
}
/* line 53, ../sass/_index.scss */
.section1-header-redirection {
  transition: 0.5s;
}
/* line 56, ../sass/_index.scss */
.section1-header-redirection:hover {
  filter: opacity(0.5);
  transition: 0.5s;
}

/* line 64, ../sass/_index.scss */
.section2 {
  position: relative;
  width: 100%;
  background-image: linear-gradient(white, #e6eefe);
  z-index: -10;
}
/* line 70, ../sass/_index.scss */
.section2-sport {
  position: absolute;
  margin-top: 5vh;
  left: -20px;
  height: 70vh;
  z-index: -5;
}
/* line 78, ../sass/_index.scss */
.section2-projet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  max-width: 1366px;
  height: 100vh;
}
/* line 87, ../sass/_index.scss */
.section2-projet-col1 {
  position: relative;
  flex-basis: 40%;
}
/* line 91, ../sass/_index.scss */
.section2-projet-col1-student {
  position: absolute;
  right: 40px;
  width: 350px;
}
/* line 97, ../sass/_index.scss */
.section2-projet-col1-color {
  position: absolute;
  top: 230px;
  right: 80px;
  width: 200px;
  height: 200px;
  background-color: #4c2568;
}
/* line 107, ../sass/_index.scss */
.section2-projet-col2 {
  flex-basis: 40%;
  margin-top: 100px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 113, ../sass/_index.scss */
.section2-projet-col2 h2 {
  text-shadow: 0 0 5px #FFF;
}

/* line 120, ../sass/_index.scss */
.section3 {
  width: 100%;
  height: 650px;
  background-image: url("/img/assets/groupe-etudiants.jpg");
  background-size: cover;
  background-position: center center;
}
/* line 127, ../sass/_index.scss */
.section3-title {
  margin: 0;
  padding: 60px 20px 40px 20px;
  text-align: center;
  color: white;
}
/* line 134, ../sass/_index.scss */
.section3-articles {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: auto;
  max-width: 1366px;
}
/* line 141, ../sass/_index.scss */
.section3-articles-art {
  max-width: 500px;
  padding: 25px;
}
/* line 145, ../sass/_index.scss */
.section3-articles-art-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  max-width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 0, 0, 0.5);
}
/* line 157, ../sass/_index.scss */
.section3-articles-art-picture .hidden {
  height: 55px;
}
/* line 161, ../sass/_index.scss */
.section3-articles-art-picture h2 {
  margin: 0;
  text-align: center;
  color: white;
}
/* line 167, ../sass/_index.scss */
.section3-articles-art-picture button {
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: white;
  font-size: 1.3em;
  color: #5fd2ca;
  cursor: default;
}
/* line 180, ../sass/_index.scss */
.section3-articles-art p {
  margin: 0;
  padding: 25px;
}

/* line 188, ../sass/_index.scss */
.student {
  margin-top: 90px;
  background-image: url("/img/assets/etudiants.jpg");
}

/* line 189, ../sass/_index.scss */
.school {
  background-image: url("/img/assets/ecoles-institutions.jpg");
}

/* line 191, ../sass/_index.scss */
.section4 {
  width: 100%;
  max-height: 1600px;
  background-image: linear-gradient(white, #e6eefe);
}
/* line 196, ../sass/_index.scss */
.section4-how {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 450px auto 0 auto;
  padding: 20px;
  max-width: 1366px;
  max-height: 1070px;
}
/* line 205, ../sass/_index.scss */
.section4-how-art {
  max-width: 40%;
}
/* line 208, ../sass/_index.scss */
.section4-how-art-list {
  list-style-type: circle;
}
/* line 211, ../sass/_index.scss */
.section4-how-art-list li {
  padding-left: 15px;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 219, ../sass/_index.scss */
.section4-how img {
  max-width: 60%;
}

/* line 227, ../sass/_index.scss */
.section5 {
  padding-bottom: 70px;
  width: 100%;
  max-height: 1050px;
  background-color: #e6eefe;
}
/* line 233, ../sass/_index.scss */
.section5 h2 {
  margin: 0;
  padding: 80px 20px 0 20px;
  text-align: center;
}
/* line 239, ../sass/_index.scss */
.section5 button {
  display: block;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  background-color: #5fd2ca;
  transition: 0.5s;
}
/* line 251, ../sass/_index.scss */
.section5 button:hover {
  background-color: #32b2a9;
  transition: 0.5s;
}

/* line 258, ../sass/_index.scss */
.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/img/assets/sportif.jpg");
  background-size: cover;
  background-position: top center;
}
/* line 270, ../sass/_index.scss */
.section6 h2 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
}
/* line 276, ../sass/_index.scss */
.section6 p {
  text-align: center;
}
/* line 280, ../sass/_index.scss */
.section6-form {
  display: flex;
  justify-content: center;
  margin: 50px 0 200px 0;
  padding: 16px;
  max-width: 1050px;
  background-color: #e3e2e2;
}
/* line 288, ../sass/_index.scss */
.section6-form input[type="submit"] {
  padding: 0 15px;
  height: 80px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #5fd2ca;
  transition: 0.5s;
}
/* line 299, ../sass/_index.scss */
.section6-form input[type="submit"]:hover {
  background-color: #32b2a9;
}
/* line 304, ../sass/_index.scss */
.section6-form input:first-child {
  margin-left: 140px;
}
/* line 305, ../sass/_index.scss */
.section6-form input:last-child {
  margin-right: 140px;
}
/* line 307, ../sass/_index.scss */
.section6-form .news {
  position: relative;
  margin-right: 5px;
  padding: 17px;
  background-color: white;
}
/* line 313, ../sass/_index.scss */
.section6-form .news p {
  position: absolute;
  bottom: 5px;
  left: 26px;
  font-size: 0.7em;
}
/* line 322, ../sass/_index.scss */
.section6-inscription {
  position: relative;
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
/* line 330, ../sass/_index.scss */
.section6-inscription a button {
  margin: 0 auto;
  padding: 30px;
  max-width: 500px;
  color: white;
  font-size: 3em;
  font-weight: bold;
  border: none;
  background-color: #4c2568;
  transition: 0.5s;
}
/* line 341, ../sass/_index.scss */
.section6-inscription a button:hover {
  background-color: rgba(76, 37, 104, 0.8);
  transition: 0.5s;
}
/* line 348, ../sass/_index.scss */
.section6-inscription-deco {
  position: absolute;
}
/* line 353, ../sass/_index.scss */
.section6-up {
  position: absolute;
  bottom: 70px;
  right: 70px;
  border-radius: 5px;
  transition: 0.5s;
}
/* line 360, ../sass/_index.scss */
.section6-up:hover {
  filter: opacity(0.8);
  transition: 0.5s;
}

/* line 367, ../sass/_index.scss */
#input {
  font-size: 1em;
}

/* line 370, ../sass/_index.scss */
.deco1 {
  top: -45px;
  right: -45px;
}

/* line 371, ../sass/_index.scss */
.deco2 {
  bottom: -45px;
  right: -45px;
  transform: rotate(90deg);
}

/* line 372, ../sass/_index.scss */
.deco3 {
  left: -45px;
  bottom: -45px;
  transform: rotate(180deg);
}

/* line 373, ../sass/_index.scss */
.deco4 {
  top: -45px;
  left: -45px;
  transform: rotate(-90deg);
}

/* line 6, ../sass/_connexion.scss */
.section1-header-register {
  margin-top: 20px;
  max-width: 400px;
}
/* line 10, ../sass/_connexion.scss */
.section1-header-register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 16, ../sass/_connexion.scss */
.section1-header-register-form input {
  margin-bottom: 5px;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  font-size: 1.3em;
  border: none;
  border-radius: 7px;
  background-color: #cbc8c8;
}
/* line 26, ../sass/_connexion.scss */
.section1-header-register-form input[type="submit"] {
  align-self: center;
  width: auto;
  height: 60px;
  color: white;
  background-color: #5fd2ca;
  transition: 0.3s;
}
/* line 34, ../sass/_connexion.scss */
.section1-header-register-form input[type="submit"]:hover {
  background-color: #32b2a9;
}
/* line 39, ../sass/_connexion.scss */
.section1-header-register-form input::placeholder {
  color: #979696;
}
/* line 44, ../sass/_connexion.scss */
.section1-header-register-form label {
  align-self: center;
  padding: 20px 0;
  color: white;
}
/* line 49, ../sass/_connexion.scss */
.section1-header-register-form label input[type="checkbox"] {
  display: none;
}
/* line 52, ../sass/_connexion.scss */
.section1-header-register-form label input[type="checkbox"] + .label-txt:before {
  content: "\f096";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}
/* line 67, ../sass/_connexion.scss */
.section1-header-register-form label input[type="checkbox"]:checked + .label-txt:before {
  content: "\f14a";
  color: #5fd2ca;
}
/* line 73, ../sass/_connexion.scss */
.section1-header-register-form label span {
  font-family: 'Montserrat', sans-serif;
}
/* line 81, ../sass/_connexion.scss */
.section1-header-register-facebook img {
  margin: 30px 0;
  max-width: 230px;
  border-radius: 5px;
}
/* line 88, ../sass/_connexion.scss */
.section1-header-register p, .section1-header-register a {
  padding: 15px 0;
  color: white;
  font-size: 1em;
  text-align: center;
}
/* line 95, ../sass/_connexion.scss */
.section1-header-register a {
  text-decoration: underline;
  transition: 0.3s;
}
/* line 99, ../sass/_connexion.scss */
.section1-header-register a:hover {
  color: #5fd2ca;
}

/* line 3, ../sass/_menu.scss */
.header {
  width: 100%;
  height: 68px;
  background-color: #4c2568;
  z-index: 1000;
}
/* line 9, ../sass/_menu.scss */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1260px;
  height: 100%;
}
/* line 18, ../sass/_menu.scss */
.header-menu-nav {
  display: flex;
  color: white;
}
/* line 22, ../sass/_menu.scss */
.header-menu-nav img, .header-menu-nav span, .header-menu-nav a, .header-menu-nav #search {
  margin-right: 30px;
}
/* line 26, ../sass/_menu.scss */
.header-menu-nav span, .header-menu-nav a {
  filter: opacity(0.7);
  transition: 0.3s;
}
/* line 30, ../sass/_menu.scss */
.header-menu-nav span:hover, .header-menu-nav a:hover {
  filter: opacity(1);
}
/* line 35, ../sass/_menu.scss */
.header-menu-nav span {
  position: relative;
  top: 7px;
  font-size: 1.5em;
}
/* line 41, ../sass/_menu.scss */
.header-menu-nav-link {
  display: flex;
  align-items: center;
  z-index: 1000;
}
/* line 46, ../sass/_menu.scss */
.header-menu-nav-link a {
  color: white;
  text-decoration: none;
}
/* line 51, ../sass/_menu.scss */
.header-menu-nav-link a:hover {
  border-bottom: 1px solid #5fd2ca;
}

/* line 62, ../sass/_menu.scss */
input {
  outline: none;
}

/* line 66, ../sass/_menu.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

/* line 73, ../sass/_menu.scss */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

/* line 79, ../sass/_menu.scss */
input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

/* line 94, ../sass/_menu.scss */
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #5fd2ca;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

/* line 104, ../sass/_menu.scss */
input:-moz-placeholder {
  color: #999;
}

/* line 108, ../sass/_menu.scss */
input::-webkit-input-placeholder {
  color: #999;
}

/* line 113, ../sass/_menu.scss */
#search input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

/* line 119, ../sass/_menu.scss */
#search input[type=search]:hover {
  background-color: #fff;
}

/* line 122, ../sass/_menu.scss */
#search input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

/* line 129, ../sass/_menu.scss */
#search input:-moz-placeholder {
  color: transparent;
}

/* line 132, ../sass/_menu.scss */
#search input::-webkit-input-placeholder {
  color: transparent;
}

/* line 3, ../sass/_profil.scss */
.back {
  width: 100%;
  height: 540px;
  background-image: url("/img/assets/fond-profil.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 15, ../sass/_profil.scss */
.main {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  margin: 0 auto;
}
/* line 21, ../sass/_profil.scss */
.main-profil, .main-articles {
  margin: 6px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0px #c0c0c0;
}
/* line 29, ../sass/_profil.scss */
.main-profil {
  flex-basis: 25%;
  position: relative;
  top: -140px;
  height: auto;
  background-color: #fff;
}
/* line 36, ../sass/_profil.scss */
.main-profil .photo {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: auto;
}
/* line 43, ../sass/_profil.scss */
.main-profil .name {
  padding: 10px 0;
  font-size: 2em;
  text-align: center;
}
/* line 49, ../sass/_profil.scss */
.main-profil .info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  max-width: 300px;
  margin: 0 auto;
}
/* line 56, ../sass/_profil.scss */
.main-profil .info .glyphicon {
  padding: 0 5px;
  color: grey;
}
/* line 62, ../sass/_profil.scss */
.main-profil .badges, .main-profil .about, .main-profil .ambition {
  padding-top: 30px;
}
/* line 65, ../sass/_profil.scss */
.main-profil .badges .title, .main-profil .about .title, .main-profil .ambition .title {
  font-size: 1.5em;
  font-weight: bold;
}
/* line 70, ../sass/_profil.scss */
.main-profil .badges .txt, .main-profil .about .txt, .main-profil .ambition .txt {
  font-size: 1em;
  text-align: justify;
  word-break: break-all;
}
/* line 76, ../sass/_profil.scss */
.main-profil .badges .liste, .main-profil .about .liste, .main-profil .ambition .liste {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* line 81, ../sass/_profil.scss */
.main-profil .badges .liste > img, .main-profil .about .liste > img, .main-profil .ambition .liste > img {
  width: 70px;
  height: 70px;
  filter: grayscale(100%);
}
/* line 87, ../sass/_profil.scss */
.main-profil .badges .liste > img:hover, .main-profil .about .liste > img:hover, .main-profil .ambition .liste > img:hover {
  filter: grayscale(0);
}
/* line 96, ../sass/_profil.scss */
.main-articles {
  flex-basis: 75%;
}
/* line 99, ../sass/_profil.scss */
.main-articles-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 15px;
  height: 90px;
  border-bottom: 1px solid #f2f2f2;
}
/* line 108, ../sass/_profil.scss */
.main-articles-menu-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
/* line 113, ../sass/_profil.scss */
.main-articles-menu-nav h4, .main-articles-menu-nav a {
  margin: 0 20px;
}
/* line 117, ../sass/_profil.scss */
.main-articles-menu-nav a {
  padding: 10px 0;
  color: grey;
  text-align: center;
  transition: 0.3s;
}
/* line 123, ../sass/_profil.scss */
.main-articles-menu-nav a:hover {
  color: black;
  border-bottom: 1px solid black;
}
/* line 130, ../sass/_profil.scss */
.main-articles-menu a button {
  margin: 0 10px;
  padding: 5px 10px;
  color: white;
  background-color: #5fd2ca;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
/* line 141, ../sass/_profil.scss */
.main-articles-menu a button:hover {
  background-color: #32b2a9;
}
/* line 147, ../sass/_profil.scss */
.main-articles .article {
  padding: 20px;
}
/* line 150, ../sass/_profil.scss */
.main-articles .article .title {
  font-size: 1.8em;
  font-weight: bold;
}
/* line 155, ../sass/_profil.scss */
.main-articles .article .by {
  padding-bottom: 20px;
}
/* line 159, ../sass/_profil.scss */
.main-articles .article .youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  width: 100%;
  height: 0;
}
/* line 166, ../sass/_profil.scss */
.main-articles .article .youtube .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 175, ../sass/_profil.scss */
.main-articles .article .photo {
  width: 100%;
}
/* line 179, ../sass/_profil.scss */
.main-articles .article .subscription {
  display: flex;
  align-items: baseline;
  margin: 25px 0;
}
/* line 184, ../sass/_profil.scss */
.main-articles .article .subscription a .btn {
  margin-right: 30px;
  padding: 2px 2px 5px 10px;
  color: white;
  background-color: #5fd2ca;
  transition: 0.3s;
}
/* line 191, ../sass/_profil.scss */
.main-articles .article .subscription a .btn .star {
  position: relative;
  top: 4px;
  padding-right: 18px;
  font-size: 1.3em;
}
/* line 198, ../sass/_profil.scss */
.main-articles .article .subscription a .btn .number {
  margin-left: 18px;
  padding: 4px 6px;
  height: 100%;
  color: #5fd2ca;
  border-radius: 3px;
  background-color: white;
}
/* line 207, ../sass/_profil.scss */
.main-articles .article .subscription a .btn:hover {
  background-color: #32b2a9;
}
/* line 212, ../sass/_profil.scss */
.main-articles .article .subscription .like, .main-articles .article .subscription .view {
  margin-right: 30px;
  color: grey;
  font-size: 1em;
}
/* line 217, ../sass/_profil.scss */
.main-articles .article .subscription .like .glyphicon, .main-articles .article .subscription .view .glyphicon {
  padding-right: 10px;
}
/* line 224, ../sass/_profil.scss */
.main-articles .article .badges-title {
  margin-bottom: 0;
  font-size: 1.3em;
}
/* line 228, ../sass/_profil.scss */
.main-articles .article .badges-liste {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* line 233, ../sass/_profil.scss */
.main-articles .article .badges-liste > img {
  width: 70px;
  height: 70px;
  padding: 0 3px;
  filter: grayscale(100%);
  opacity: 0.2;
}
/* line 240, ../sass/_profil.scss */
.main-articles .article .badges-liste > img:hover {
  filter: grayscale(0);
  opacity: 1;
}
/* line 248, ../sass/_profil.scss */
.main-articles .article .date {
  font-size: 1.3em;
}
/* line 252, ../sass/_profil.scss */
.main-articles .article .description {
  color: grey;
  font-size: 0.9em;
}
/* line 256, ../sass/_profil.scss */
.main-articles .article .description:after {
  content: " (...)";
}
/* line 261, ../sass/_profil.scss */
.main-articles .article .comment {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 20px;
}
/* line 267, ../sass/_profil.scss */
.main-articles .article .comment .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 272, ../sass/_profil.scss */
.main-articles .article .comment .form .text {
  margin-right: 20px;
  width: 340px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
}
/* line 281, ../sass/_profil.scss */
.main-articles .article .comment .form .submit {
  margin-top: 10px;
  padding: 7px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #5fd2ca;
  transition: 0.3s;
}
/* line 290, ../sass/_profil.scss */
.main-articles .article .comment .form .submit:hover {
  background-color: #32b2a9;
}
/* line 296, ../sass/_profil.scss */
.main-articles .article .comment .nb-comments {
  margin-right: 20px;
  color: #5fd2ca;
  font-weight: bold;
}
/* line 301, ../sass/_profil.scss */
.main-articles .article .comment .nb-comments .glyphicon {
  position: relative;
  top: 7px;
  transform: rotate(90deg);
  font-size: 1.5em;
}
/* line 309, ../sass/_profil.scss */
.main-articles .article .comment .look {
  margin: 10px 0;
  font-size: 0.8em;
}
/* line 313, ../sass/_profil.scss */
.main-articles .article .comment .look a {
  color: black;
}
/* line 316, ../sass/_profil.scss */
.main-articles .article .comment .look a:hover {
  color: #5fd2ca;
}

/* line 3, ../sass/_articles.scss */
.arts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1260px;
}
/* line 10, ../sass/_articles.scss */
.arts-article {
  margin: 20px;
  width: 300px;
  height: 450px;
  border-radius: 7px;
  box-shadow: 0 0 5px 0px #c0c0c0;
  overflow: hidden;
  transition: 0.3s;
}
/* line 19, ../sass/_articles.scss */
.arts-article-thumb {
  height: 200px;
  overflow: hidden;
}
/* line 23, ../sass/_articles.scss */
.arts-article-thumb-picture {
  margin: 0 auto;
  width: 100%;
  filter: grayscale(50%);
  filter: contrast(100%);
  transition: 0.3s;
}
/* line 32, ../sass/_articles.scss */
.arts-article-preview {
  position: relative;
  padding: 15px;
  padding-top: 50px;
  height: 250px;
}
/* line 38, ../sass/_articles.scss */
.arts-article-preview-window {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 100px;
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #5fd2ca;
  overflow: hidden;
}
/* line 52, ../sass/_articles.scss */
.arts-article-preview-window-avatar {
  flex-basis: 100%;
  transition: 0.3s;
}
/* line 57, ../sass/_articles.scss */
.arts-article-preview-window-author {
  position: absolute;
  left: 0;
  bottom: -50px;
  margin: 0;
  width: 100%;
  color: white;
  font-size: 0.9em;
  text-align: center;
  transition: 0.3s;
  filter: opacity(0);
}
/* line 70, ../sass/_articles.scss */
.arts-article-preview-window:hover .arts-article-preview-window-avatar {
  filter: opacity(0);
}
/* line 71, ../sass/_articles.scss */
.arts-article-preview-window:hover .arts-article-preview-window-author {
  bottom: 30px;
  filter: opacity(100%);
}
/* line 77, ../sass/_articles.scss */
.arts-article-preview-title {
  font-weight: bold;
  text-align: center;
}
/* line 82, ../sass/_articles.scss */
.arts-article-preview-txt {
  font-size: 1em;
  text-align: justify;
  hyphens: auto;
}
/* line 87, ../sass/_articles.scss */
.arts-article-preview-txt:after {
  content: "...";
}
/* line 90, ../sass/_articles.scss */
.arts-article-preview-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 90%;
  border-top: 1px solid #d0d0d0;
  overflow: hidden;
}
/* line 102, ../sass/_articles.scss */
.arts-article-preview-info-spec, .arts-article-preview-info-date {
  font-size: 1em;
  color: #8f8f91;
}
/* line 106, ../sass/_articles.scss */
.arts-article-preview-info-spec > .number, .arts-article-preview-info-spec > .glyphicon, .arts-article-preview-info-date > .number, .arts-article-preview-info-date > .glyphicon {
  margin-right: 10px;
}
/* line 111, ../sass/_articles.scss */
.arts-article:hover {
  box-shadow: 0px 0px 10px 0px #c0c0c0;
}
/* line 112, ../sass/_articles.scss */
.arts-article:hover .arts-article-thumb-picture {
  width: 105%;
  filter: grayscale(0%);
  filter: contrast(150%);
}

/* line 6, ../sass/_form.scss */
.main-account {
  flex-basis: 100%;
  margin: 6px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0px #c0c0c0;
}
/* line 13, ../sass/_form.scss */
.main-account-update {
  padding: 20px;
}

/* line 19, ../sass/_form.scss */
.b-input, .b-file, .b-type {
  margin-bottom: 15px;
  max-width: 350px;
}

/* line 24, ../sass/_form.scss */
.b-textarea {
  margin-bottom: 15px;
  max-width: 550px;
}

/* line 29, ../sass/_form.scss */
.b-submit {
  border: none;
  background-color: #5fd2ca;
  transition: 0.3s;
}
/* line 34, ../sass/_form.scss */
.b-submit:hover {
  background-color: #32b2a9;
}

/* line 40, ../sass/_form.scss */
.trumbowyg-box {
  margin: 0 0 15px 0;
}

/* line 1, ../sass/_404.scss */
.back404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("/img/assets/404.jpg");
  background-size: cover;
  background-position: center center;
}
/* line 11, ../sass/_404.scss */
.back404-txt {
  padding: 20px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
/* line 17, ../sass/_404.scss */
.back404-txt-title, .back404-txt-st {
  margin: 0;
}
/* line 21, ../sass/_404.scss */
.back404-txt-st {
  margin: 20px 0 40px 0;
}
/* line 25, ../sass/_404.scss */
.back404-txt-link {
  padding: 10px 15px;
  background-color: #5fd2ca;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  transition: 0.3s;
}
/* line 33, ../sass/_404.scss */
.back404-txt-link:hover {
  color: white;
  background-color: #32b2a9;
}

/**************************/
/*    @Layout Tablette    */
/**************************/
@media screen and (max-width: 730px) {
  /* line 11, ../sass/_tablette.scss */
  .section2-sport {
    max-width: 90%;
    height: auto;
    filter: opacity(0.3);
  }
  /* line 17, ../sass/_tablette.scss */
  .section2-projet {
    flex-direction: column;
  }
  /* line 20, ../sass/_tablette.scss */
  .section2-projet-col1 {
    flex-basis: 50%;
    order: 2;
  }
  /* line 24, ../sass/_tablette.scss */
  .section2-projet-col1-student {
    position: inherit;
    width: 250px;
    right: auto;
  }
  /* line 30, ../sass/_tablette.scss */
  .section2-projet-col1-color {
    top: 180px;
    right: 30px;
    width: 120px;
    height: 120px;
  }
  /* line 38, ../sass/_tablette.scss */
  .section2-projet-col2 {
    flex-basis: 50%;
    order: 1;
    background-color: rgba(255, 255, 255, 0);
  }

  /* line 46, ../sass/_tablette.scss */
  .section3 {
    height: auto;
  }
  /* line 49, ../sass/_tablette.scss */
  .section3-articles {
    flex-wrap: wrap;
  }
  /* line 53, ../sass/_tablette.scss */
  .section3-articles-art p {
    color: white;
  }

  /* line 62, ../sass/_tablette.scss */
  .section4-how {
    margin: 0;
    flex-direction: column;
    height: auto;
  }
  /* line 67, ../sass/_tablette.scss */
  .section4-how-art {
    max-width: 100%;
  }
  /* line 71, ../sass/_tablette.scss */
  .section4-how img {
    max-width: 100%;
  }

  /* line 80, ../sass/_tablette.scss */
  .section6-form {
    width: 70%;
    flex-direction: column;
  }
  /* line 84, ../sass/_tablette.scss */
  .section6-form input:first-child {
    margin-left: 0;
  }
  /* line 85, ../sass/_tablette.scss */
  .section6-form input:last-child {
    margin-right: 0;
  }
  /* line 87, ../sass/_tablette.scss */
  .section6-form input[type="submit"] {
    margin-top: 5px;
  }
  /* line 91, ../sass/_tablette.scss */
  .section6-form .news {
    margin: 0;
    padding: 10px;
    height: 80px;
  }
  /* line 100, ../sass/_tablette.scss */
  .section6-inscription button {
    font-size: 2.5em;
  }

  /* line 106, ../sass/_tablette.scss */
  #input {
    margin-bottom: 0;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    margin: 0 0 5px 0;
    border: none;
    background-color: white;
  }
}
@media screen and (max-width: 875px) {
  /* line 122, ../sass/_tablette.scss */
  .header-menu-icon {
    width: 30px;
    height: 30px;
  }

  /* line 127, ../sass/_tablette.scss */
  .header-menu-nav-link {
    display: none;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 68px;
    right: -200px;
    width: 200px;
    height: auto;
    text-align: right;
    background-color: rgba(76, 37, 104, 0);
    transition: 0.5s;
  }
  /* line 141, ../sass/_tablette.scss */
  .header-menu-nav-link a {
    margin: 0;
    padding: 15px 20px;
    overflow: hidden;
  }
  /* line 146, ../sass/_tablette.scss */
  .header-menu-nav-link a:hover {
    background-color: #5fd2ca;
  }

  /* line 153, ../sass/_tablette.scss */
  .affiche {
    display: flex;
    right: 0;
    background-color: #4c2568;
  }

  /* line 162, ../sass/_tablette.scss */
  .main {
    flex-direction: column;
  }
  /* line 165, ../sass/_tablette.scss */
  .main-profil {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  /* line 172, ../sass/_tablette.scss */
  .main-profil .photo {
    max-width: 300px;
  }
  /* line 176, ../sass/_tablette.scss */
  .main-profil .info {
    width: 300px;
  }
  /* line 180, ../sass/_tablette.scss */
  .main-profil .badges {
    align-self: stretch;
    height: auto;
  }
  /* line 184, ../sass/_tablette.scss */
  .main-profil .badges .liste {
    justify-content: flex-start;
  }
  /* line 187, ../sass/_tablette.scss */
  .main-profil .badges .liste > img {
    width: 80px;
  }
}
/**************************/
/*    @Layout Mobile      */
/**************************/
@media screen and (max-width: 665px) {
  /* line 13, ../sass/_mobile.scss */
  .main-articles-menu {
    height: auto;
    padding-bottom: 20px;
  }

  /* line 20, ../sass/_mobile.scss */
  .text {
    flex-basis: 100%;
  }
}
