@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
/* line 3, ../sass/test.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/test.scss */
.header {
  width: 100%;
  height: 68px;
  background-color: #3a004b;
}
/* line 12, ../sass/test.scss */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1260px;
  height: 100%;
}
/* line 21, ../sass/test.scss */
.header-menu-nav {
  color: white;
}
/* line 24, ../sass/test.scss */
.header-menu-nav img, .header-menu-nav span, .header-menu-nav a {
  margin-right: 30px;
}
/* line 28, ../sass/test.scss */
.header-menu-nav span, .header-menu-nav a {
  filter: opacity(0.7);
  transition: 0.3s;
}
/* line 32, ../sass/test.scss */
.header-menu-nav span:hover, .header-menu-nav a:hover {
  filter: opacity(1);
}
/* line 37, ../sass/test.scss */
.header-menu-nav span {
  position: relative;
  top: 7px;
  font-size: 1.5em;
}
/* line 43, ../sass/test.scss */
.header-menu-nav a {
  color: white;
  text-decoration: none;
}

/* line 53, ../sass/test.scss */
.back {
  width: 100%;
  height: 540px;
  background-image: url("../img/fond-profil.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 65, ../sass/test.scss */
.main {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  margin: 0 auto;
}
/* line 71, ../sass/test.scss */
.main-profil, .main-articles {
  margin: 6px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0px #656565;
}
/* line 78, ../sass/test.scss */
.main-profil {
  flex-basis: 25%;
  position: relative;
  top: -140px;
  background-color: #fff;
}
/* line 84, ../sass/test.scss */
.main-profil .photo {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: auto;
}
/* line 91, ../sass/test.scss */
.main-profil .name {
  padding: 10px 0;
  font-size: 2em;
  text-align: center;
}
/* line 97, ../sass/test.scss */
.main-profil .info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
/* line 102, ../sass/test.scss */
.main-profil .info .glyphicon {
  padding: 0 5px;
  color: grey;
}
/* line 108, ../sass/test.scss */
.main-profil .about, .main-profil .ambition {
  padding-top: 30px;
}
/* line 111, ../sass/test.scss */
.main-profil .about .title, .main-profil .ambition .title {
  font-weight: bold;
}
/* line 115, ../sass/test.scss */
.main-profil .about .txt, .main-profil .ambition .txt {
  font-size: 1em;
  text-align: justify;
  word-break: break-all;
}
/* line 123, ../sass/test.scss */
.main-articles {
  flex-basis: 75%;
}
